@import "https://fonts.googleapis.com";
@import "https://fonts.gstatic.com";
@import "https://fonts.googleapis.com/css2?family=Special+Elite&display=swap";

*{
    box-sizing: border-box;
}

body{
    background-color: rgba(62, 49, 170, 0.493);
    font-size: 1.25rem;
}

.main-title{
    text-align: center;
    font-family: 'Special Elite', cursive;
}

.instructions{
    &__header{
        margin-bottom: 0;
    }
    &__types{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
    &__morse, &__english{
        > h4{
            margin-bottom: 0;
        }
        > p{
            margin-top: 0;
        }
    }
}

.input, .output{
    display: flex;
    flex-direction: column;
}

textarea{
    font-size: 1.25rem;
}

#translate{
    align-items: center;
    align-self: center;
    width: 50%;
    border-radius: 16px;
}

@media screen and (min-width: 768px){
    body{
        margin: 30px;
    }

    .instructions{
        &__types{
            gap: 20px;
        }
    }

    .translator{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}